%section.pam.center
  %h1 Alias
  =form_tag aliases_path(), :method => :get ,class: "mtm"do
    =text_field_tag :search, params[:search], :placeholder => "Recherche...", :class => "w80 login", :autofocus => true
  = link_to 'Nouvel Alias', new_alias_path(search: @search)
  %table.box
    %thead
      %tr
        %th Origine
        %th Destination
        %th Liste
        %th
    %tbody
      -if @aliases.present?
        - @aliases.each do |a|
          %tr
            %td=a.to_s
            %td=a.redirect
            %td
              -if a.ml_list.present?
                =link_to a.ml_list.name, a.ml_list
              -else
                non
            %td
              = link_to 'Show', a
              = link_to 'Edit', edit_alias_path(a, search: @search)
              = link_to 'Destroy', alias_path(a, search: @search), :method => :delete, :data => { :confirm => 'Are you sure?' }
      -else
        %tr
          %td
            Recherche un alias



