%section.pam.center
  %h1 Alias
  =form_tag aliases_path(), :method => :get ,class: "mtm"do
    =text_field_tag :search, params[:search], :placeholder => "Recherche...", :class => "w80 login", :autofocus => true
  %table.box
    %thead
      %tr
        %th Origine
        %th Destination
        %th

    %tbody
      - @aliases.each do |a|
        %tr
          %td=a.to_s
          %td=a.redirect
          %td
            = link_to 'Show', a
            = link_to 'Edit', edit_alias_path(a)
            = link_to 'Destroy', a, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Alias', new_alias_path
