#big-bg
  .int.article.center
    .pal
      =link_to root_path do
        =image_tag "logo_alumni_nb.png", :class => "vertical-center"

      .txtcenter
        %h1 Email gadz.org, Gadzmelv2, Imelavi, listes de diffusion.
        Retrouve tous les services mails gadz.org dans un même endroit.

  .skip-links.sup
  .txtcenter.sup= link_to t('layout.menu.connect'), new_user_session_path, :class =>"bouton bouton_bleu vertical-center"

.int.center.pal
  .grid-2
    %div.prm.plm
      .txtcenter
        %i.zmdi.zmdi-email.zmdi-hc-3x
        %h2 Redirection mail
        %p Tu peux gérer ici tes redirections mail pour être toujours joignable sur ton adresse gadz.org.
    %div.prm.plm
      .txtcenter
        %i.zmdi.zmdi-mail-reply-all.zmdi-hc-3x
        %h2 Liste de diffusion
        %p Inscription, désinscription et archives, pour pouvoir communiquer avec ta promo ou dans des groupes.
