%section.pam.center.mw1140p
  %h1 Administration
  %h2 General
  .grid-4-small-1
    - if can? :manage, :admin
      =link_to admin_configurable_path, class:'box box-light shadow-1 mtm bouton bouton-light'  do
        %i.zmdi.zmdi-wrench
        %div.small-inbl
          Configuration
    - if can? :read, User
      =link_to  users_path, class:'box box-light shadow-1 mtm bouton bouton-light'  do
        %i.zmdi.zmdi-accounts
        %div.small-inbl
          Utilisateurs

    - if can? :read, Role
      =link_to  roles_path, class:'box box-light shadow-1 mtm bouton bouton-light'  do
        %i.zmdi.zmdi-key
        %div.small-inbl
          Roles
  %h2 Listes de diffusion
  .grid-4-small-1
    - if can? :manage, Ml::List
      =link_to  ml_lists_path, class:'box box-light shadow-1 mtm bouton bouton-light' do
        %i.zmdi.zmdi-format-list-bulleted
        %div.small-inbl
          Lists
  %h2 Zenimel
  .grid-4-small-1
    - if can? :read, Alias
      =link_to  aliases_path, class:'box box-light shadow-1 mtm bouton bouton-light' do
        %i.zmdi.zmdi-key
        %div.small-inbl
          Alias
    - if can? :read, PostfixBlacklist
      =link_to  postfix_blacklists_path, class:'box box-light shadow-1 mtm bouton bouton-light'  do
        %i.zmdi.zmdi-key
        %div.small-inbl
          Blacklist
    - if can? :read, EmailVirtualDomain
      =link_to  email_virtual_domains_path, class:'box box-light shadow-1 mtm bouton bouton-light'  do
        %i.zmdi.zmdi-key
        %div.small-inbl
          Domaines
    - if can? :read, :email
      =link_to  admin_search_email_path, class:'box box-light shadow-1 mtm bouton bouton-light'  do
        %i.zmdi.zmdi-search
        %div.small-inbl
          Recherche par email
