=form_tag admin_search_email_path(), :method => :get ,class: "mtm"do
  =text_field_tag :search, params[:search], :placeholder => "Recherche par email", :class => "w100 login", :autofocus => true

.grid-4
  .box.box-light.shadow-1.mtm
    .box-top.box-top-color.pam
      External email
    .box-bottom
      -if @external_emails.present?
        %ul
          -@external_emails.each do |e|
            %li
              =e.email
              =link_to e.ml_list.name, e.ml_list
  .box.box-light.shadow-1.mtm
    .box-top.box-top-color.pam

      Email source
    .box-bottom
      -if @esas.present?
        %ul
          -@esas.each do |e|
            %li=link_to e.to_s, e.user
  .box.box-light.shadow-1.mtm
    .box-top.box-top-color.pam
      Redirection
    .box-bottom
      -if @eras.present?
        %ul
          -@eras.each do |e|
            %li=link_to e.redirect, e.user
  .box.box-light.shadow-1.mtm
    .box-top.box-top-color.pam
      Alias
    .box-bottom
      -if @aliases.present?
        %ul
          -@aliases.each do |e|
            %li=link_to e.to_s, e