<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci de prendre quelques instant pour confirmer ton adresse ...</h1>
    <p>
      Hey <%= @user.firstname %> !
    </p>
    <p>
      Clique sur ce lien biatch : <%= @confirmation_url %>
    </p>
    <p>
      A t'chou's
    </p>
  </body>
</html>