= stylesheet_link_tag    "mail", media: "all"
.mam
  .content.mw800p.center
    .pam
      %p=image_tag "http://www.arts-et-metiers.asso.fr/images/logo.png", height: '50'

      %p Sal's #{@user.firstname},
      %p
        Ton compte Google Apps @gadz.org vient d'être créé ! C'EST LA FÊTE !
