/*define all colors here */

$violet-dark: #8E2862 ;
$violet: #A62F73 ;
$violet-light: #C23687;


/*primary = cyan*/
$primary-light: #14BFCC;
$primary-light-hover: rgba(20, 191, 204, 0.6);
$primary-light-disabled: #b3b3b3;
