#unobtrusive-flash-messages {
  position: fixed;
  top: 10px;
  left: 10px;
  max-width: 70%;
  z-index: 10000;

}

#unobtrusive-flash-messages .unobtrusive-flash-message-wrapper {

  /*opacity: 0.8;*/
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
}

.unobtrusive-flash-message-wrapper.unobtrusive-flash-error {
  background: #c0392b;
  padding: 14px 14px;
  border-radius: 2px;
  color: #fff;

}

.unobtrusive-flash-message-wrapper.unobtrusive-flash-notice {
  background: #2ecc71;
  padding: 14px 14px;
  border-radius: 2px;
  color: #fff;

}

.unobtrusive-flash-message-wrapper.unobtrusive-flash-message {
  /*width: 960px;*/
  margin: 0 auto;
  padding: 14px 14px;
  background: #2ecc71;
  color: #fff;
  border-radius: 2px;
}
