/*-----------------------------landing-------------------------*/
#big-bg{
  background: image-url("bg.jpg");
  //min-height: 50vh;
  //height:100%;
  background-position: center bottom;
  background-size: cover;
  color: rgb(255, 255, 255);
  position: relative;
}

#landing-text{
  padding-top: 15%;
  padding-bottom: 15%;
}
#big-bg2{
  background-color: #473625;
  background-clip: border-box;
  background-origin: padding-box;
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}