%section.pam
  .grid
    %div.ptm
      %h1
        %i.zmdi.zmdi-comments.icon-padding-list
        Listes où je suis inscrit :
      #joined_lists
        -if @lists_joined.present?
          =render partial: "shared/ml_list", locals: {lists: @lists_joined, user: @user, already_joined: true}
        -else
          Tu n'es inscrit à aucune liste. Tu trouveras ci-dessous les listes auquelles tu peux t'inscrire.
    %div.ptm.mtm
      %h1
        %i.zmdi.zmdi-comment-outline.icon-padding-list
        Autres listes :
      #not_joined_lists
        -if @lists_not_joined.present?
          =render partial: "shared/ml_list", locals: {lists: @lists_not_joined, user: @user, already_joined: false}
