%section.pam
  %h1 Mes listes de diffusion
  .grid-2
    .box.box-light.shadow-1.mtm.flex-item-double
      .box-top.box-top-color.pam
        Listes où je suis inscrit :
      .box-bottom.email-list
        %ul
          #joined_lists
            -if @lists_joined.present?
              =render partial: "shared/ml_list", locals: {lists: @lists_joined, user: @user}

    .box.box-light.shadow-1.mtm.flex-item-double
      .box-top.box-top-color.pam
        Autres listes :
      .box-bottom.email-list
        %ul
          #not_joined_lists
            -if @lists_not_joined.present?
              =render partial: "shared/ml_list", locals: {lists: @lists_not_joined, user: @user}