%section.pam
  %h2 Mes redirections email
  .row
    .col.s12.l5.email-list
      %h4
        Si on envoie un mail à :
      .card
        .card-content
          %ul
            #source
              =render partial: "shared/es_list", locals: {emails_source: @emails_source}
        -if can? :create, @new_esa
          .card-action
            / Modal Trigger
            %a.modal-trigger.waves-effect.waves-light.btn{:href => "#new-esa"} Ajouter une adresse
            / Modal Structure
          #new-esa.modal.modal-fixed-footer
            =render partial: "users/modals/add_esa", locals: {user: @user,new_esa: @new_esa}

    .ma1.col.l2.hide-on-med-and-down
      .center
        %i.zmdi.zmdi-long-arrow-right#big-arrow
    .col.m12.divider.hide-on-large-only
    .col.s12.l5

      %h4
        Je le reçois sur :
      .email-list{ :data => {:url => user_email_redirect_accounts_path(@user, :format => :json)} }
        #redirect
          =render partial: "shared/er_list", locals: {emails_redirect: @emails_redirect}
      =render(partial: "users/modals/modal_sheet_mobile_only_modals", locals: {modal_partial: "users/modals/add_era",id:'add-era',modal_locals:{user: @user, new_era: @user.email_redirect_accounts.new}})

      .card.deep-orange.white-text
        .card-content
          %h5
            Information importante si tu t’apprêtes à modifier une redirection
          Le système de redirection des adresses gadz.org est en cours d'évolution.

          %br
          = link_to "En savoir plus", "https://services.gadz.org/messagerie/modif-redirections", :class =>"waves-effect waves-light btn white deep-orange-text", :target => "_blank", id: "ask_for_update"
  =javascript_include_tag 'email_redirect_tracking.js' if google_analytics_id
