-content_for :header do
  =javascript_include_tag 'user/dashboard.js.erb'
%section.pam
  %h2 Mes redirections email
  .row
    .col.s12.l5
      .card
        .card-content
          %span.card-title
            Si on envoie un mail à :
          %ul.collection
            #source
              =render partial: "shared/es_list", locals: {emails_source: @emails_source}
        .card-action
          -if can? :create, @new_esa
            .pam
              =form_for  [@user,@new_esa], :remote=>true  do |f|
                .input-field.col.m6{style: "margin-bottom: 0px;"}
                  =f.text_field :email, required: "required", class: ""
                  =f.label "email"
                .input-field.col.m6
                  =f.select :email_virtual_domain_id,EmailVirtualDomain.all.map { |e| ["@"+e.name,e.id] },{}, class:''
                  =f.label "domaine"
                .pam
                  =f.button '+ Ajouter',:class => "waves-effect waves-light btn primary-color"


    .ma1.col.l2.hide-on-med-and-down
      .txtcenter.vertical-center.horizontal-center
        %i.zmdi.zmdi-long-arrow-right#big-arrow

    .col.s12.l5
      .card
        .card-content
          %span.card-title
            Je le reçois sur :
          .box-bottom.email-list{ :data => {:url => user_email_redirect_accounts_path(@user, :format => :json)} }
            #redirect
              =render partial: "shared/er_list", locals: {emails_redirect: @emails_redirect}
        .card-action

          =form_for  [@user,@new_era], :remote=>true  do |f|
            .input-field.s8{style: "margin-bottom: 0px;"}
              =f.email_field :redirect, required: "required", class: ""
              =label_tag "Ajouter une adresse"
            .pam
              =f.button '+ Ajouter',:class => "waves-effect waves-light btn", id: :new_email_redirect_account_submit
    =javascript_include_tag 'email_redirect_tracking.js' if google_analytics_id
