.txtcenter.bouton.bouton_bleu
  =link_to title, link ,:class => "bouton bouton_orange_1 txtcenter"

%p.small
  Si ce lien ne fonctionne pas, copiez l'adresse suivante puis collez-la dans une nouvelle fenêtre de navigateur :
%p.small=link