-# TODO
-# autoriser les suppresion et ajout que pour les admins

- emails_source.each do |e|
	%li
		=e.email + "@" + e.email_virtual_domain.name
		-if can? :destroy, e
			%span.fr
				-#%i.zmdi.zmdi-edit.icon-padding-list
				= link_to user_email_source_account_path(@user,e.id), method: :delete, :remote => true, confirm: true do
					%i.zmdi.zmdi-delete.icon-padding-list