-lists.each do |l|
  .box.box-light.shadow-1.mtm.flex-item-double
    .box-bottom.email-list
      %ul
        %li
          =link_to ml_list_path(l) do
            %b=l.name

          %span.fr
            -if already_joined
              = link_to ml_list_leave_path(l.id, user.id), title: 'Me desinscire de la liste', rel: 'tooltip', :remote=>true do
                Me desinscrire
                %i.icon-padding-list
                %i.zmdi.zmdi-account.red
                %i.zmdi.zmdi-arrow-right.red
            -else
              = link_to ml_list_join_path(l.id, user.id), title: "M'inscrire à la liste", rel: 'tooltip', :remote=>true do
                M'inscrire
                %i.icon-padding-list
                %i.zmdi.zmdi-arrow-right.green
                %i.zmdi.zmdi-account.green
          %span
            %br/
            .small
              =l.email
              =l.description
              %span.fr
                Liste
                -case l.inscription_policy
                -when  "open"
                  ouverte
                -when "conditional_gadz"
                  reservée aux gadz
                -when "closed"
                  gérée par un admin
                -when "in_group"
                  reservée aux membres du groupe
                (#{l.members_count} membres)
