
%ul.ml-list.collection
  -lists.each do |l|
    -#=link_to ml_list_path(l), class: "waves-effect black-text" do
    %li.collection-item.avatar
      =link_to ml_list_path(l), class: "black-text" do
        %i.material-icons.circle comment
        %span.title
          %b=l.name
        %p.hide-on-med-and-down
          =l.description
          =l.redirection_alias
        %p.grey-text.hide-on-large-only
          =l.description
          =l.redirection_alias
        .small.hide-on-small-only
          .grey-text
            %span
              %i.zmdi.zmdi-accounts-alt
            %span #{l.members_count} membres
            %i.zmdi.zmdi-account-add
            Inscriptions
            -case l.inscription_policy
            -when  "open"
              libres,
            -when "conditional_gadz"
              reservées aux gadz,
            -when "closed"
              gérée par un admin,
            -when "in_group"
              reservées aux membres du groupe,
            -case l.diffusion_policy
            -when "open"
              tout le monde peut y écrire
            -when "closed"
              seuls les membres peuvent y écrire
            -when "moderated"
              messages modérés


      .small.hide-on-small-only
        -if can? :moderate_messages, Ml::List
          =link_to "Modérer",l.moderation_link, target: "_blank", :class =>"waves-effect waves-light btn"
        =link_to ml_list_path(l), class: "waves-effect waves-teal btn btn-flat " do
          Consulter
        -if already_joined
          = link_to ml_list_leave_path(l.id, user.id), :remote=>true, class: "unsubscribe_ml_button waves-effect waves-teal btn btn-flat ", data: {confirm: "Tu vas quitter cette cette liste ?"} do
            Me desinscrire

        -else
          = link_to ml_list_join_path(l.id, user.id), :remote=>true, class: "subscribe_ml_button waves-effect waves-teal btn btn-flat" do
            M'inscrire



