.grid-2
  .box.box-light.shadow-1.flex-item-double
    .box-top.box-top-light.pam
      %span
        %i.zmdi.zmdi-accounts-alt
        =name
    .box-bottom.ml-list
      -if show_search
        =form_tag ml_list_path(@ml_list), :method => :get ,class: "mam"do
          =text_field_tag :search, params[:search], :placeholder => "Recherche par adresse, nom ou prénom parmis les #{@ml_list.members_count} membres de cette liste", :class => "w100 login", :autofocus => false
      .mtm=render partial: "shared/ml_members_list", locals: {members: members}
