.grid-2
  .box.box-light.shadow-1.mtm.flex-item-double
    .box-top.box-top-color.pam
      Membres
    .box-bottom.ml-list
      %ul
        -if @members.count == 0
          %li
            Il n'y a pas de membres dans cette liste
        -else
          -@members.each do |m|
            %li
              %b=m[1]
              =m[2]
              -if can?( :manage, @ml_list)
                %span.fr
                  = link_to ml_list_leave_path(@ml_list.id, m[0]) do
                    %i.zmdi.zmdi-delete.icon-padding-list

.grid-2
  .box.box-light.shadow-1.mtm.flex-item-double
    .box-top.box-top-color.pam
      Membre sans adresses gadz.org
    .box-bottom.ml-list
      %ul
        -if @external_emails.count == 0
          %li
            Il n'y a pas de membres sans adresse gadz.org dans cette liste
        -else
          -@external_emails.each do |m|
            %li
              =m.email
              -if can? :destroy, m
                %span.fr
                  =link_to ml_list_remove_email_path(list_id: @ml_list.id, email_id: m.id), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %i.zmdi.zmdi-delete.icon-padding-list

