-lists.each do |l|
  %li
    =l.name
    =l.email
    -if l.users.include?(user)
      = link_to ml_list_leave_path(l.id, user.id), title: 'Quitter la liste', rel: 'tooltip', :remote=>true do
        Leave !
    -else
      = link_to ml_list_join_path(l.id, user.id), title: 'Rejoindre la liste', rel: 'tooltip', :remote=>true do
        Join !
