.modal-content
  %h4 Ajouter une nouvelle adresse de redirection
  %p Tu peux ajouter ici une nouvelle adresse vers laquelle seront transfèrés les emails envoyés sur tes adresses gadz.org.
  =form_for  [user,new_era], :remote=>true  do |f|
    .input-field.s8{style: "margin-bottom: 0px;"}
      =f.email_field :redirect, required: "required", class: "validate"
      =label_tag(:redirect, "Entre ici la nouvelle adresse","data-error"=>"Cette addresse n'est pas au bon format")

      =f.submit 'Ajouter cette adresse',:class => "waves-effect waves-light btn", id: :new_email_redirect_account_submit
      %a.modal-action.modal-close.waves-effect.waves-green.btn.btn-flat{:href => "#!"} Annuler