.modal.bottom-sheet.bottom-sheet-big{id: "modal-#{id}-mobile"}
  =render(partial: modal_partial, locals: modal_locals)

.modal{id: "modal-#{id}"}
  =render(partial: modal_partial, locals: modal_locals)