%a.hide-on-large-only{class: button_class,:href => "#modal-#{id}-mobile"}= text
%a.hide-on-med-and-down{class: button_class,:href => "#modal-#{id}"}= text

.modal.bottom-sheet{id: "modal-#{id}-mobile"}
  =render(partial: modal_partial, locals: modal_locals)

.modal{id: "modal-#{id}"}
  =render(partial: modal_partial, locals: modal_locals)