Bonjour,

Vous êtes invitez à rejoindre la liste de discussion Gadz.org "#{@list.name}"

Si ce lien ne fonctionne pas, copiez l'adresse suivante puis collez-la dans une nouvelle fenêtre de navigateur :
=ml_accept_external_invitation_url(@token.token)

Si vous ne souhaitez pas donner suite à cette invitation, vous pouvez simplement l'ignorer