%p Bonjour,

%p Vous êtes invité à rejoindre la liste de discussion Gadz.org "#{@list.name}"

%p En acceptant cette invitation, vous receverez les mails envoyé à "#{@list.email}" et vous pourrez également échanger avec les autres membre de cette liste en écrivant à cette même adresse

.txtcenter.bouton.bouton_bleu
  =link_to "Accepter l'invitation", ml_accept_external_invitation_url(@token.token) ,:class => "bouton bouton_orange_1 txtcenter"

%p
  Si ce lien ne fonctionne pas, copiez l'adresse suivante puis collez-la dans une nouvelle fenêtre de navigateur :
%p=ml_accept_external_invitation_url(@token.token)

%p.small
  Si vous ne souhaitez pas donner suite à cette invitation, vous pouvez simplement l'ignorer
