development:
  secret_key_base: 208164ade13e98d1e49df7eb20b7fc02fc5ea6894a4b4cea5d3971de5b5e29d1a714a53ed1056d9bdda5e3fb5cd2ac6cb891948379648a6ea899194fdca14b58
  gram_api_site:
  gram_api_user:
  gram_api_password:
  slack_chat_token: abcd-0123456798-0123456789-0123456789-123abc
  slack_chat_channel_id: ABCDEF012
  app_name: Gadzorg RoR Template
  cas_provider_url:

test:
  secret_key_base: 5c470998670700ab03d6be80d36f9907b030fb8e29a0d93d5d272b7d671635d471e31922c099d30f76a56e5fb6b93715a0af43a862c1198cb4cd6cf97e0f5e2a
  gram_api_site:
  gram_api_user:
  gram_api_password:
  slack_chat_token: abcd-0123456798-0123456789-0123456789-123abc
  slack_chat_channel_id: ABCDEF012
  app_name: Gadzorg RoR Template
  cas_provider_url:

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  gram_api_site: <%= ENV["GRAM_API_SITE"] %>
  gram_api_user: <%= ENV["GRAM_API_USER"] %>
  gram_api_password: <%= ENV["GRAM_API_PASSWORD"] %>
  cas_provider_url: <%= ENV["CAS_PROVIDER_URL"] %>
