%p#notice= notice
%h2 Vous souhaitez vous désabonner de nos listes de diffusion
=form_tag(unsubscribe_path, method: "post") do
  .row
    .l6.s12.col
      %p
        Nous devons d'abord vérifier vore identité.
  .row
    .l6.s12.col

      .card
        .card-content
          %p
            Merci de remplir ci-dessous l'adresse email sur laquelle vous recevez les mails provenant de nos listes de diffusion
          .input-field
            =email_field_tag(:email,nil, :size => 40, :required => 'required', :class=> 'validate')
            =label_tag('email', "Mon adresse email", "data-error"=>"Tu dois entrer ton adresse email au format email@domaine.fr", required: true)
        .card-action
          =submit_tag("Vérifier mon identité", class:'waves-effect waves-teal btn')
