%p#notice= notice

%div.center-align
  %h2
    %i.zmdi.zmdi-thumb-up.icon-padding-list
  %h2
    C'est fini !

  %p Vous ne recevrez plus de mails de la part de ces listes de diffusion.
  %p Si toutefois vous recevez encore des mails nos désirés, vous pouvez nous contacter à l'adresse #{mail_to("support@gadz.org")}
