%p#notice= notice

%div.center-align
  %h2
    %i.zmdi.zmdi-thumb-up.icon-padding-list
  %h2
    Merci

  %p
    Nous venons de vous envoyer un mail pour que vous
    %b confirmiez votre adresse.
    Il ne devrait plus tarder...
