%p#notice= notice

%div.center-align
  %h2
    %i.zmdi.zmdi-alert-triangle.icon-padding-list
  %h2
    Impossible de continuer ...

  %p
    Ce lien a déjà été utilisé ou n'est plus valable. Vous pouvez demander l'envoi d'un mail avec un nouveau lien de désinscription

  =link_to "Envoyer un nouveau mail", unsubscribe_path, class: "waves-effect waves-light btn"
