%p#notice= notice
%section.pam
  .box.box-light.shadow-1.mtm.txtcenter
    .box-top.pam.box-top-color
      %h2 C'est bon !
    .box-bottom.pam
      %p Ton compte est configuré !

      %p Nous venons de t'envoyer un mail pour valider ton adresse. Il ne devrait plus tarder ...

      %h4 Message optionnel:
      %p Ton compte Google sera créé d'ici quelques instants, tu recevras un mail avec tout les informations importantes dès qu'il sera pret !

      =link_to "Accéder à mon Tableau de Bord", dashboard_path, class: "bouton bouton_bleu notempty mtm"