%p#notice= notice
%section.pam
  .box.box-light.shadow-1.mtm.txtcenter
    .box-top.pam.box-top-color
      %h2 Il nous manque quelques informations pour finaliser ton compte !
    .box-bottom.pam
      =form_tag('') do
        %p
          Sur quel adresse veux-tu recevoir tes mails ?
        .group.group-m-form.inbl.mtm
          =email_field_tag :redirect,nil, :size => 15, :required => 'required'
          =label_tag "email@domaine.fr"
        %p
          Veux-tu qu'on te crée un compte Google Gadz.org ?
        .group
          =radio_button_tag :google_apps, :true, :required => 'required'
          =label_tag :google_apps_true,"Oui", :for => "google_apps_true"
          =radio_button_tag :google_apps, :false, :required => 'required'
          =label_tag :google_apps_true,"Non"
        =submit_tag "OK !", class:'mtm'


