%p#notice= notice
%h2 Ton compte est presque prêt...

=form_tag('') do
  .row
    .l6.s12.col
      %p
        Il nous manque quelques informations pour finaliser ton compte.

  .row
    .l6.s12.col

      .card
        .card-content
          %p
            Tu peux recevoir les mails envoyés à ton adresse #{@primary_email} sur un compte Google Gadz.org
          .input-field
            =check_box_tag :google_apps, "", 1
            =label_tag :google_apps,"Je veux un compte Google Gadz.org", :for => "google_apps"


        .card-content
          %p
            Les mails envoyés sur ton adresse
            %b #{@primary_email}
            peuvent être envoyé également sur l'adresse email de ton choix. Cette adresse est également utilisée en cas de problème.
          %div
            Mon adresse email :
            .input-field.inline
              =email_field_tag :redirect,nil, :size => 40, :required => 'required', :class=> 'validate'
              =label_tag("redirect", "email@domaine.fr", "data-error"=>"Tu dois entrer ton adresse email au format email@domaine.fr", required: true)
        .card-action
          =button_tag "Créer mon compte", class:'waves-effect waves-teal btn'

