%p#notice= notice
%h2 Vous êtes invité à rejoindre un groupe de discussion

=form_tag ml_accept_external_invitation_path(@token.token), method: :post do


  .row
    .l6.s12.col
      .card
        .card-content
          %p Un administrateur du groupe de discussion <b>#{@list.name}</b> vous invite à participer à ce groupe.

          %p En acceptant cette invitation, vous receverez les mails envoyé à g199@poubs.org et vous pourrez également échanger avec les autres membre de cette liste en écrivant à cette même adresse

          -if @cgu_retry
            %p Vous devez valider les CGU pour continuer
          .input-field
            =check_box_tag :accept_cgu
            =label_tag :accept_cgu, "J'accepte les CGU"
        .card-action
          =submit_tag "Rejoindre le groupe", class:'waves-effect waves-teal btn'
