-#=cache(action_suffix: "primary") do
%aside.sidebar
  %nav#navigation
    =link_to root_path do
      =image_tag "logo_alumni.png", :class => "vertical-center"
    =link_to "Emails", dashboard_path
    =link_to "Listes de diffusions", mailinglists_path
    - if user_signed_in?
      =link_to "Administration", admin_path





