%header
  .int.plm.prm
    %nav
      #logo.left
        =link_to root_path do
          =image_tag "logo_alumni.png", :class => "vertical-center"
      .menu
        %ul
          - if user_signed_in?
            - if can? :read, :admin
              %li
                =link_to "Administration", admin_path
            %li
              =link_to "Menu 1", :back

          = render 'layouts/user_widget'