- if user_signed_in?
  %li
    = "#{current_user.firstname}"
  %li
    = link_to 'Déconnexion', destroy_user_session_path, :method => :delete, :class =>"bouton bouton_bleu vertical-center" 
- else
  %li
    = link_to 'Connexion', new_user_session_path, :class =>"bouton bouton_bleu vertical-center" 